html {
  background-color: rgb(240, 239, 239);
  --color-grey-100: rgb(173, 173, 173);
}

#card-container {
  width: 15rem;
  margin: 2rem auto;
  padding-bottom: 0.5rem;
  box-shadow: 4px 4px 8px gray;
  background-color: aliceblue;
  transition: transform 0.5s ease-out;
}

#card-container:hover {
  transform: scale(1.02);
}

#card-container h1 {
  background-color: rgba(142, 207, 245, 0.671);
  text-align: center;
  height: 3rem;
  align-content: center;
}

#card-container h2 {
  padding: 1rem 2rem;
  margin: 0;
  transition: transform 0.5s ease-out;
}


#card-container p {
  color: rgb(124, 131, 114);
  font-size: 0.9rem;
  padding: 0 1.6rem;
  margin-top: 0;
}

#card-container li {
  margin-bottom: 0.7rem;
}

#card-container #center {
  text-align: center;
}

#btn {
  width: 10rem;
  padding: 0.5rem 1rem;
  align-content: center;
  border: 3px solid var(--color-grey-100);
  box-shadow: 1px 2px 2px gray;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1rem;
  color: rgba(7, 85, 131, 0.671);
  font-weight: 700;
  margin: 2rem auto;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-out;
}

#btn:hover {
  background-color: rgb(180, 211, 240);
  color: black;
  transform: scale(1.05);
}
