header {
  text-align: center;
  width: 700px;
  margin: 40px auto;
}

header h1 {
  color: blueviolet;
  font-weight: bolder;
  font-size: 52px;
}

main {
  background-color: blueviolet;
  padding: 20px;
  color: aliceblue;
  border-radius: 10px;
  margin: 30px auto;
  width: 700px;
}

footer {
  text-align: center;
  width: 700px;
  margin: 30px auto;
}

img {
  width: 200px;
  height: 120px;
  margin: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgb(214, 191, 161);
  margin: 12px;
  padding-left: 10px;
  /* list-style: none; */
  list-style-type: none;
  border-left: 5px solid yellowgreen;
}

#no-mark {
  list-style: none;
  color: white;
  border-left: 5px solid transparent;
}

span {
  background-color: rgb(228, 214, 122);
  border-radius: 2px;
  padding: 1px 5px;
  color: black;
}
a {
  text-decoration: none;
}

span:hover,
span :active {
  background-color: coral;
}

footer a {
  background-color: darkorange;
  padding: 7px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.7);
}
footer a:hover {
  background-color: rgb(76, 178, 141);
}

footer p {
  color: gray;
}
